{#- Template: Edit -#}
<div class="alert alert-warning" role="alert">
	<h5 class="alert-heading">Sorry, we&apos;re incomplete here.</h5>
	<strong>Ay caramba!</strong> The website is not complete yet at this place! Please bear with us or take a lead and <a class="alert-link" href="https://github.com/libimobiledevice/libimobiledevice.github.io/edit/master/content/{{ page.filepath }}" target="_blank" rel="noopener">edit this content</a>.
</div>