$fac-font-family: "fa-custom" !default;
$fac-font-path: "fonts" !default;

$fa-check: "\f00c";
$fa-close: "\f00d";
$fa-remove: "\f00d";
$fa-times: "\f00d";
$fa-cog: "\f013";
$fa-gear: "\f013";
$fa-download: "\f019";
$fa-external-link: "\f08e";
$fa-rocket: "\f135";
$fa-android: "\f17b";
$fa-circle-o-notch: "\f1ce";
$fa-paypal: "\f1ed";
$fa-music: "\f001";
$fa-heart: "\f004";
$fa-star: "\f005";
$fa-user: "\f007";
$fa-home: "\f015";
$fa-redo: "\f01e";
$fa-lock: "\f023";
$fa-tag: "\f02b";
$fa-bookmark: "\f02e";
$fa-chevron-left: "\f053";
$fa-chevron-right: "\f054";
$fa-asterisk: "\f069";
$fa-chevron-up: "\f077";
$fa-chevron-down: "\f078";
$fa-shopping-cart: "\f07a";
$fa-chart-bar: "\f083";
$fa-comments: "\f087";
$fa-upload: "\f093";
$fa-phone-square: "\f098";
$fa-rss: "\f09f";
$fa-certificate: "\f0a4";
$fa-link: "\f0c1";
$fa-envelope: "\f0e0";
$fa-sitemap: "\f0e9";
$fa-angle-double-left: "\f100";
$fa-angle-double-right: "\f101";
$fa-angle-left: "\f104";
$fa-angle-right: "\f105";
$fa-angle-up: "\f106";
$fa-angle-down: "\f107";
$fa-desktop: "\f109";
$fa-laptop: "\f10a";
$fa-terminal: "\f120";
$fa-code: "\f121";
$fa-code-branch: "\f126";
$fa-puzzle-piece: "\f12e";
$fa-ellipsis-v: "\f142";
$fa-euro-sign: "\f153";
$fa-dollar-sign: "\f155";
$fa-paper-plane: "\f1d8";
$fa-history: "\f1da";
$fa-bomb: "\f1e2";
$fa-at: "\f1fa";
$fa-chart-area: "\f1fe";
$fa-chart-line: "\f201";
$fa-balance-scale: "\f24e";
$fa-trademark: "\f25c";
$fa-tv: "\f26c";
$fa-hashtag: "\f292";
$fa-microchip: "\f2db";
$fa-poo: "\f2fe";
$fa-external-link-alt: "\f35d";
$fa-map-marker-alt: "\f3c5";
$fa-mobile-alt: "\f3cd";
$fa-tablet-alt: "\f3fa";
$fa-tachometer-alt: "\f3fd";
$fa-robot: "\f544";
$fa-scroll: "\f70e";
$fa-mug-hot: "\f7b6";
$fa-twitter-square: "\f081";
$fa-facebook-square: "\f082";
$fa-linkedin: "\f08c";
$fa-github-square: "\f092";
$fa-twitter: "\f099";
$fa-facebook: "\f09a";
$fa-github: "\f09b";
$fa-linkedin-in: "\f0e1";
$fa-github-alt: "\f113";
$fa-youtube: "\f167";
$fa-xing: "\f168";
$fa-xing-square: "\f169";
$fa-stack-overflow: "\f16c";
$fa-instagram: "\f16d";
$fa-adn: "\f170";
$fa-apple: "\f179";
$fa-windows: "\f17a";
$fa-linux: "\f17c";
$fa-skype: "\f17e";
$fa-vimeo-square: "\f194";
$fa-slack: "\f198";
$fa-openid: "\f19b";
$fa-google: "\f1a0";
$fa-reddit: "\f1a1";
$fa-reddit-square: "\f1a2";
$fa-git-square: "\f1d2";
$fa-git: "\f1d3";
$fa-paypal1: "\f1ee";
$fa-cc-visa: "\f1f0";
$fa-cc-mastercard: "\f1f1";
$fa-whatsapp: "\f232";
$fa-creative-commons1: "\f25f";
$fa-amazon: "\f271";
$fa-reddit-alien: "\f281";
$fa-bluetooth: "\f295";
$fa-bluetooth-b: "\f296";
$fa-telegram: "\f2c6";
$fa-app-store: "\f36f";
$fa-app-store-ios: "\f370";
$fa-bitcoin: "\f379";
$fa-docker: "\f395";
$fa-facebook-f: "\f39e";
$fa-facebook-messenger: "\f39f";
$fa-itunes: "\f3b4";
$fa-itunes-note: "\f3b5";
$fa-node-js: "\f3d3";
$fa-python: "\f3e2";
$fa-slack-hash: "\f3ef";
$fa-telegram-plane: "\f3fe";
$fa-vimeo: "\f40a";
$fa-whatsapp-square: "\f40c";
$fa-apple-pay: "\f415";
$fa-cc-apple-pay: "\f416";
$fa-ethereum: "\f42e";
$fa-ebay: "\f4f4";
$fa-fedora: "\f798";
$fa-raspberry-pi: "\f7bb";
$fa-redhat: "\f7bc";
$fa-suse: "\f7d6";
$fa-swift: "\f8e1";
$fa-instagram-square: "\f955";
$fa-wifi: "\f1eb";