{% extends 'partials/section.html.twig' %}

{% block section_header %}
<div class="row section-heading">
	<div class="col-12">
		<h2 class="section-title mb-5">Sponsor this project</h2>
	</div>
</div>
{% endblock section_header %}

{% block section_content %}
<div class="row">
	<div class="col-12 col-md-7">
		<p class="lead">
			Want features to get implemented <strong>faster</strong>?<br/>
			Want to thank us for our <strong>countless hours of work?</strong><br/>
			Want to help us to support <strong>newer devices and firmware versions?</strong><br/>
			... or help us to buy cables that just break so fast?
		</p>
	</div>
	<div class="col-12 col-md-5 justify-content-center justify-content-md-right align-items-start">
		<ul class="list-style-none">
                <li class="mb-2 d-flex">
			<a target="_blank" href="https://github.com/sponsors/nikias"><img src="https://img.shields.io/static/v1?label=Sponsor%20nikias&message=%E2%9D%A4&logo=GitHub&color=%23fe8e86" alt="Sponsor" width="200px" height="31px"></a>
		</li>
		<li class="mb-2 d-flex">
			<span class="mr-2 d-flex flex-items-center flex-justify-center" style="min-width:32px;height:32px;">
				<img width="32" height="32" class="octicon rounded-2 d-block" alt="patreon" src="https://github.githubassets.com/assets/patreon-96b15b9db4b9.svg">
			</span>
			<span class="flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">
				<a target="_blank" data-ga-click="Dashboard, click, Nav menu - item:org-profile context:organization" data-hydro-click="{&quot;event_type&quot;:&quot;sponsors.repo_funding_links_link_click&quot;,&quot;payload&quot;:{&quot;platform&quot;:{&quot;platform_type&quot;:&quot;PATREON&quot;,&quot;platform_url&quot;:&quot;https://patreon.com/nikias&quot;},&quot;platforms&quot;:[{&quot;platform_type&quot;:&quot;GITHUB&quot;,&quot;platform_url&quot;:&quot;https://github.com/nikias&quot;},{&quot;platform_type&quot;:&quot;PATREON&quot;,&quot;platform_url&quot;:&quot;https://patreon.com/nikias&quot;},{&quot;platform_type&quot;:&quot;CUSTOM&quot;,&quot;platform_url&quot;:&quot;https://www.paypal.me/NikiasBassen&quot;}],&quot;repo_id&quot;:8180632,&quot;owner_id&quot;:3584568,&quot;user_id&quot;:460105,&quot;originating_url&quot;:&quot;https://github.com/libimobiledevice/libplist/tree/master&quot;}}" data-hydro-click-hmac="581572c93abf9845a3dcefac165b03ad3b9cd5e749f2a0c17bfc3a45fb572709" href="https://patreon.com/nikias"><span>Become a Patron</span></a>
			</span>
		</li>
		<li class="mb-2 d-flex">
			<a target="_blank" href="https://www.paypal.me/NikiasBassen" class="btn btn-primary"><i class="fab fa-paypal fa-fw"></i>&nbsp;Support Development</a>
		</li>
		<li class="mb-2 d-flex">
		<span style="padding-top:20px">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="p-0 pt-4 pt-md-0 m-0">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="6L7MPH54X7SHW">
			<button type="submit" class="btn btn-primary btn-sm" name="submit"><i class="fab fa-paypal fa-fw"></i>&nbsp;Donate (web hosting)</button>
		</form>
		</span>
		</li>
		</ul>
	</div>
</div>
{% endblock section_content %}
