{% extends 'partials/section.html.twig' %}

{% block section_header %}{% endblock section_header %}

{% block section_content %}
<div class="row">
	<div class="col-12">
		<blockquote class="blockquote text-center">
			<p class="mb-0">We'll miss you, Steve.</p>
			<footer class="blockquote-footer text-light"><a href="https://www.apple.com/stevejobs/" target="_blank" rel="noreferrer" class="text-white">Steve Jobs</a>, 1955 - 2011</footer>
		</blockquote>
	</div>
</div>
{% endblock section_content %}