{% extends 'partials/section.html.twig' %}

{% block section_header %}{% endblock section_header %}

{% block section_content %}
<div class="row">
	<div class="col-12">
		{% include 'partials/alert/edit.html.twig' %}
	</div>
</div>
{% endblock section_content %}
